# Ignore node_modules (prevents copying into the container)
node_modules/

# Ignore build files
.next/
out
dist/

# Ignore environment files
.env
.env.local

# Ignore system files
npm-debug.log
*.log
.DS_Store
