# Ignore virtual environments
venv/
.venv/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore system files
*.log
.DS_Store